.main-container{
    margin-left: 100;
    margin-top: 80;
    margin-right:0;
    background:#fff;
    width: 60%;
}

.commentForm{
    margin:0;
}

.textElementStyle{
    border-bottom: 1px solid #ededed;
    font-size: 24px;
    display: block;
    position: relative;
    line-height: 1.4em;
    text-align: left;
    padding:3%;
    min-height:40px;
    
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
}
input{
    width:100%;
}



.arrow {
    cursor: pointer;
    color: white;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    float:right;
}
.arrow:before{
    content: "×";
}
